.background-float {
    background-image: url(images/float.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.background-waterNormal {
    background-image: url(images/water.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.pike {
    background-image: url(images/pike.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.bleak {
    background-image: url(images/bleak.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.crucianCarp {
    background-image: url(images/CrucianCarp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.trout {
    background-image: url(images/trout.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.bream {
    background-image: url(images/bream.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.silverBream {
    background-image: url(images/silverBream.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.sunfish {
    background-image: url(images/sunfish.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.herring {
    background-image: url(images/herring.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.catfish {
    background-image: url(images/catfish.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.roach {
    background-image: url(images/roach.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.perch {
    background-image: url(images/perch.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.emptyBucket {
    background-image: url(images/emptyBucket.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

.fishName {
    color: brown;
    font-family: cursive;
    text-align: center;
    font-weight: 800;
}
